.wrapper {
  width: 1024px;
  margin: 5px auto;
  background: linear-gradient(45deg, rgb(219, 161, 122), rgb(141, 202, 230));
  padding-top: 40px;
}

.head {
  margin: 0px 100px 20px 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contentBlock{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  margin: 0px;
}

.informationBlock {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-bottom: 10px;
  font-size: 14pt;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pointOfResumee {
  width: 300px;
  margin: 0px 100px 0px 100px;
  font-weight: bold;
  font-style: italic;
}

.pointInformation {
  width: 400px;
  word-wrap: break-word;
}